{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="container single">
            <div class="menu">
                <h3>Technologies</h3>
                <ul>
                    {% for page in pages('technology') if not page.hidden %}
                    <li{% if page.id==current_page.id %} class="active" {% endif %}><a href="{{ page.url }}">{{
                            page.title }}</a></li>
                        {% endfor %}
                </ul>
            </div>
            <div class="content">{{ content }}</div>
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>