@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lato:wght@700&display=swap');
@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'blockquotes';
@import 'code';
@import 'base';
@import 'technologies';
@import 'typography';


* {
    color: #ffe5f2;
    box-sizing: border-box;
    padding-right: 0%;
}
.main {
    width: 64em;
    margin: 0 auto;
    flex: 1 0 auto
}
@media (max-width: 767px) {
    .menu {
        display: none;
    }
    .main {
        width:100%
    
    }
        .header {
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

}
p, h1, h2, h3 {
    text-align: left;
    max-width: 900px;    
    margin: 0 auto;     
    line-height: 2;     
    margin-bottom: 30px;
    font-family: 'DM Serif Display', serif;
    margin-left: 0%;
    color: #343333;
}
h5, a {
    text-align: left;
    max-width: 900px;    
    margin: 0 auto;     
    line-height: 2;     
    margin-bottom: 30px;
    font-family: 'DM Serif Display', serif;
    margin-left: 0%;
    color: #343333;
}


.nav li:first-child {
    background-color: #ffffff;
}

.nav li:nth-child(2) {
    background-color: #ffffff;
}

.nav li:nth-child(3) {
    background-color: #ffffff;
}

.nav li:nth-child(4) {
    background-color: #ffffff
}

.nav li:nth-child(5) {
    background-color: #ffffff;
}

.nav li:last-child {
    background-color: #ffffff;
}

.nav li:hover {
    background-color: #FFC1D5;
}

.header, .footer, .side-bar {
    padding: 1em;
}

.single {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start
}
.single-technology {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}