* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:none;
}

.landingpage {
    display: grid;
    gap: 2rem 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.landingpage h1 {
    grid-column: span 3;
}

.grid {
    display: grid;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 20px;
    justify-content: center;
}

.title-box {
    grid-column: span 3;
    background-color: #b2d7ef;
    color: #fff;
    padding: 10px;
    text-align: center;
    max-width: 60%;
}

.box {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    background-color: #ff86ae89;
    border: 1px solid #ffffff;
}

.box1 {
    grid-column: span 1;
}

.box2  {
    grid-column: span 2;
}

.box3 {
    grid-column: span 3;
}

/* --------------- Layout --------------- */

.wrapper {
    max-width: 767px;
    margin: 0 auto;
    /* Removed grid-template-columns and grid-template-rows here */
}

.main, .footer, .side-bar {
    padding: 1em;
    border: 3px solid #ffcde6;
}

.header {
    padding: 1em;
    border: 3px solid #ffcde6;
    background-color: #ffb3d9;
}
.header-container {
    background-color: #FF86AE;
    border-block-end: 1px solid #FF86AE;
}

.header, .site-header {
    display: flex;
    justify-content: space-between;
}
/* --------------- Footer --------------- */

.footer {
    background-color:#90868b;
    grid-column: span 3; /* Adjusted to span the full width */
}

@media screen and (max-width: 960px) {
    .main {
        padding: 0.5em;
        grid-gap: 5px;
        grid-template-columns: 1fr; /* Changed to one column */
        grid-template-areas: 'top-left' 'top-right' 'bottom';
    }
}
.nav {


ul {
    list-style-type: disc;
    margin-block-start: 0.5em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 20px;
    margin: 0px;
    padding: 0px;
    background-color:#ff8dc6;
}

li {
    display: list-item;
}
}

.content {
    padding: 20%;
}

.footer a {
    color: #ff8dc6;
    text-decoration: none;
}
