$background-color:#ff8dc6;
$text-color: #ffffff;
$primary-font: sans-serif;
$line-height: 1.4;
$margin-bottom: 0.6em;
$font-weight: bold;
$max-image-width: 100%;
$text-align: auto;
$line-height: 2; 
$margin-bottom: 30px;
$position: fixed;
$top: 0;
$left: 0;
$width: 100%;
$text-align: center;
$break-point: 767px;