$background-color: #f56cc0;
$text-color: #fff;
$line-color: #800080;
$font-color: rgb(255, 255, 255);
$primary-font: sans-serif;
$line-height: 1.4;
$text-color: #fff;
$margin-bottom: 0.6em;
$font-weight: bold;
$max-image-width: 20%;
$text-align: auto;
$line-height: 2; 
$margin-bottom: 30px;
$position: fixed;
$top: 0;
$left: 0;
$width: 100%;
$text-align: center;
$background-color: #87c04b;
$background-color: #756fec;
$background-color: #ff75df;
